/**
 *  Global variables (via CSS custom properties)
 *  ------------------------------------------------------- */

:root {
  /* Dimensions */
  --tile-size: 12px;
  --canvas-height: 480px;
  --canvas-ground: 35px;
  --canvas-baseline: calc(var(--canvas-height) - var(--canvas-ground) + 150px);
  --street-section-inner-height: calc(var(--canvas-height) + 45px);
  --gallery-height: 180px;
  --left-right-inset: 50px;
  --menu-side-inset: calc(var(--left-right-inset) - 20px);
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 6px;
  --border-radius-pill: 999em; /* because 50% creates ovals, not pills */
  --border-radius: var(--border-radius-medium); /* alias */
  --breakpoint-md: 768px;

  /* Brand colors */
  --color-emerald-100: rgb(230 243 217); /* edited by Toole */
  --color-emerald-200: rgb(230 243 217); /* edited by Toole */
  --color-emerald-300: rgb(180 219 141); /* edited by Toole */
  --color-emerald-400: rgb(180 219 141); /* edited by Toole */
  --color-emerald-500: rgb(130 195 66); /* edited by Toole */
  --color-emerald-600: rgb(130 195 66); /* edited by Toole */
  --color-emerald-700: rgb(106 143 94); /* edited by Toole */
  --color-emerald-800: rgb(69 115 54); /* edited by Toole */
  --color-emerald-900: rgb(69 115 54); /* edited by Toole */
  --color-turquoise-100: rgb(194 230 242); /* edited by Toole */
  --color-turquoise-200: rgb(194 230 242); /* edited by Toole */
  --color-turquoise-300: rgb(153 213 233); /* edited by Toole */
  --color-turquoise-400: rgb(153 213 233); /* edited by Toole */
  --color-turquoise-500: rgb(0 188 218); /* edited by Toole */
  --color-turquoise-600: rgb(0 188 218); /* edited by Toole */
  --color-turquoise-700: rgb(0 188 218); /* edited by Toole */
  --color-turquoise-800: rgb(66 76 160); /* edited by Toole */
  --color-turquoise-900: rgb(66 76 160); /* edited by Toole */
  --color-copper-100: rgb(252 246 239); /* edited by Toole */
  --color-copper-200: rgb(252 246 239); /* edited by Toole */
  --color-copper-300: rgb(242 211 174); /* edited by Toole */
  --color-copper-400: rgb(242 211 174); /* edited by Toole */
  --color-copper-500: rgb(240 151 99); /* edited by Toole */
  --color-copper-600: rgb(240 151 99); /* edited by Toole */
  --color-copper-700: rgb(120 71 35); /* edited by Toole */
  --color-copper-800: rgb(120 71 35); /* edited by Toole */
  --color-copper-900: rgb(62 38 20); /* edited by Toole */
  --color-midnight-100: rgb(194 230 242); /* edited by Toole */
  --color-midnight-200: rgb(194 230 242); /* edited by Toole */
  --color-midnight-300: rgb(153 213 233); /* edited by Toole */
  --color-midnight-400: rgb(153 213 233); /* edited by Toole */
  --color-midnight-500: rgb(0 188 218); /* edited by Toole */
  --color-midnight-600: rgb(0 188 218); /* edited by Toole */
  --color-midnight-700: rgb(0 188 218); /* edited by Toole */
  --color-midnight-800: rgb(66 76 160); /* edited by Toole */
  --color-midnight-900: rgb(66 76 160); /* edited by Toole */

  /* Supporting colors
   * These are on a 5-point scale instead of 9 */
  --color-citrine-100: rgb(254 242 212); /* edited by Toole */
  --color-citrine-200: rgb(251 217 126); /* edited by Toole */
  --color-citrine-300: rgb(249 191 40); /* edited by Toole */
  --color-citrine-400: rgb(249 191 40); /* edited by Toole */
  --color-citrine-500: rgb(236 115 36); /* edited by Toole */

  /* TODO: Color scales for gray/white, black/dark, and red */
  --color-gray-100: #eee; /* ported from old color */
  --color-gray-200: #dcdcdc; /* ported from old color */
  --color-gray-400: #999; /* ported from actual usage */

  /* Misc colors */
  --background-dirt-color: rgb(221 221 221); /* edited by Toole */
  --sky-color: rgb(153 213 233); /* deprecated for everything except palette - edited by Toole */
  --off-white: rgb(242 242 241); /* edited by Toole */
  --bottom-background: rgb(247, 229, 206); /* edited by Toole */
  --warning-color: rgb(228 49 36); /* edited by Toole */
  --segment-text: rgb(51 51 51); /* edited by Toole */
  --segment-hover-background: rgb(255 255 255 / 20%);
  --info-bubble-background: white; /* TODO: rename */

  /* Link and button text */
  --interactive-text-color: var(--color-turquoise-700);
  --interactive-text-hover-color: var(--color-turquoise-800);
  --interactive-text-active-color: var(--color-turquoise-600);
  --interactive-element-hover-color: var(--color-turquoise-100);

  /* Other UI */
  --form-element-background: var(--color-turquoise-100);
  --form-element-border: var(--color-turquoise-200);
  --button-border: 1px solid var(--color-turquoise-600);
  --alert-background: var(--color-citrine-100);
  --alert-border: 5px solid var(--color-citrine-300);
  --alert-text-color: var(--color-citrine-500);

  /* Third-party brand colors (e.g. social, etc) in alphabetical order
   * All colors must be official (please update them as necessary)
   * unless noted (e.g. if we need a special color for contrast, etc)
   * If there isn't an official dark color for hover, it is computed */

  /* Note: color-mix() is a draft specification.
   * https://drafts.csswg.org/css-color-5 */

  /* Discord (https://discord.com/branding) */
  --social-discord: #5865f2;
  --social-discord-hover: color-mix(in oklch, black 10%, var(--social-discord));

  /* Facebook (https://about.meta.com/brand/resources/facebookapp/logo) */
  --social-facebook: rgb(24 119 242);
  --social-facebook-hover: color-mix(
    in oklch,
    black 10%,
    var(--social-facebook)
  );

  /* GitHub (https://github.com/logos) */
  --social-github: #171515;
  --social-github-hover: color-mix(in oklch, black 10%, var(--social-github));

  /* Instagram
   * Difficult to reproduce their gradient, so we use colors from
   * https://brandpalettes.com/instagram-color-codes/ */
  --social-instagram: #e1306c;
  --social-instagram-hover: #c13584;

  /* Mastodon (https://joinmastodon.org/branding) */
  --social-mastodon: #6364ff;
  --social-mastodon-hover: #563acc;

  /* Twitter (https://about.twitter.com/en/who-we-are/brand-toolkit) */
  --social-twitter: #4a99e9;
  --social-twitter-hover: color-mix(in oklch, black 10%, var(--social-twitter));

  /* Layered UI box shadows */
  --light-box-shadow: 0 0 14px 0 rgb(0 0 0 / 7.5%);
  --medium-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  --heavy-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%); /* UNUSED */

  /* Design */
  --street-name-size: 1.5;
  --street-name-size-small: 0.5;

  /* Typography */
  --font-family: "Roboto", system-ui, sans-serif; /* edited by Toole */
  --font-size-base: 14px; /* edited by Toole */
  --header-font-family: "Manrope Variable", system-ui, sans-serif;

  /* Timing */
  --segment-switching-time: 250ms;
  --skybox-transition: 500ms ease;

  /* Z-index scale */
  --z-index-01: 100;
  --z-index-02: 200;
  --z-index-03: 300;
  --z-index-04: 400;
  --z-index-05: 500;
  --z-index-06: 600;
  --z-index-07: 700;
  --z-index-08: 800;
  --z-index-09: 900;
  --z-index-10: 1000;

  /* Z-index components
   * Variables are assigned to a scale value, defined above. Components are
   * ordered so it's easy to see the hierarchy, and variable names also
   * contain the scale value so it's visible in the CSS files where they're
   * used. If a scale value needs to be fine-tuned, + a number to it.
   * As a remninder, this z-index scale does not override the constraints
   * imposed by stacking contexts. */
  --z-01-main-screen: var(--z-index-01);
  --z-01-street-section: var(--z-index-01);
  --z-01-foreground: var(--z-index-01);
  --z-02-segment-focused: var(--z-index-02);
  --z-02-palette: var(--z-index-02);
  --z-02-menu-bar: var(--z-index-02);
  --z-03-street-name: var(--z-index-03);
  --z-03-gallery-message: var(--z-index-03);
  --z-05-welcome: var(--z-index-05);
  --z-06-info-bubble: var(--z-index-06);
  --z-06-drag-handle: var(--z-index-06);
  --z-07-street-scroll: var(--z-index-07);
  --z-07-toasts: var(--z-index-07);
  --z-07-trashcan: var(--z-index-07);
  --z-07-resize-guide: var(--z-index-07);
  --z-07-debug-hover-polygon: var(--z-index-07);
  --z-07-sky-picker: calc(var(--z-index-07) + 50);
  --z-07-menu: calc(var(--z-index-07) + 75);
  --z-08-dialog-box-backdrop: var(--z-index-08);
  --z-08-gallery-shield: var(--z-index-08);
  --z-08-notification-bar: var(--z-index-08);
  --z-09-gallery: var(--z-index-09);
  --z-09-dialog-box: var(--z-index-09);
  --z-09-debug: var(--z-index-09);

  /* Blocking overlays
   * These live at the highest level of z-index scale. */
  --z-09-loading: var(--z-index-09);
  --z-09-error: var(--z-index-09);
  --z-09-blocking-shield: var(--z-index-09);
  --z-10-flash-border: var(--z-index-10);
  --z-10-switch-away: var(--z-index-10);
  --z-10-print: var(--z-index-10);
}
